
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #1f1f1f;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-size: 20px;
    font-weight: bold;
}

.nav-links a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}







.carousel-container {
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
}

.carousel-image {
  width: 100%;
  height: auto;
  display: block;
  filter: brightness(70%);
}

.overlay-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  color: white;
  font-size: 1.8em;
  font-weight: bold;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #6a1b9a;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1em;
}
