
body {
  background-image: url('../images/cine3.jpg');
  background-size: cover;
  background-position: center 20%;
}
    .form-container {
      max-width: 500px;
      margin: 50px auto;
      padding: 30px;
      border-radius: 10px;
      background-color: white;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    h2 {
      color: #003366;
    }
